@import url('fonts/lato700i.css');

body {
    background-color: #003091;
    overflow: hidden;
    color: #FFFFFF;
    text-align: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-weight: 700i;
    font-size: 3.5em;
}

p {
    font-size: 1em;
}

.centerbox {    
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-width: 30%;
    height: auto;
    width: auto\9;
}

.logo:hover {
   transform: scale(1.13) translate(-5%,-5%);
   transition: .2s ease;   
}