---

---
<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="stylesheet" type="text/css" href="index.css">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>troftu.de</title>
	</head>
	<body>
		<div class="centerbox">
		  <h1>Hier entsteht irgendwann ein neuer Webauftritt.</h1>
		  <p>Ich weiß, das steht da schon länger, aber zumindest ist die Seite wieder erreichbar und das ist doch schonmal was, oder? ;)</p>
		</div>  
		<a href="https://youtube.com/user/troftu" class="logolink" title="Youtube Link">
		  <img src="logo.svg" alt="Troftu Logo" class="logo">
		</a>
	  </body>
</html>