<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>troftu.de</title>
	</head>
	<body>
    <h2>2024-10-04</h2>
		<a href="/rowing/2024-10-04_5000m RowErg Sessions.png">Overall</a><br>
		<a href="/rowing/2024-10-04_5000m RowErg Sessions Markdorf Edition.png">Markdorf Edition</a><br>
    <a href="/rowing/2024-10-04_Logbook_Ranking.webp">Logbook Ranking</a>
  </body>
</html>